<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h2>Welcome to HealthCan.net,</h2>
<p>
  Be sure to login to your <a href="<%= url_for dashboard_path(:auth_token => @user.authentication_token) %>">dashboard</a>
</p>
<p>20-32% of appointments are missed; let us help you!</p>

<%= image_tag 'HEALTHCAN.png' %>
</body>
</html>