
<%=  @user.email %>

<h1>This is your dashboard</h1>
<div class="container">
  <div class="row-fluid feed">
    <div class="pull-left span2">
       <p class="datecaption">FEB</p>
       <strong><p class="date">24</p></strong>
       <p class="datecaption">Wednesday</p>
    </div>
    <div class="pull-left span6">
      <p class="appointment">Meeting with Dr. Strangelove</p>
      <p class="appt_detail">Blood Work Results Discussion</p>
    </div> 
  </div>
</div>